@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', 'Courier New', Courier, monospace;
}

body {
  background: #fafafa;
}

h5 {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  gap: 0.125rem 0.0125rem;
  grid-auto-flow: row;
  grid-template-areas:
    '. header .'
    '. main .'
    '. footer .';
}

.logo {
  width: 150px;
  height: 100px;
  background-image: url('./Images/logo.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px #dbdbdb solid;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px #dbdbdb solid;
}

main {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem 0.5rem;
  grid-auto-flow: row;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .';
  grid-area: main;
}

.nav-bar-list {
  padding: 0;
  list-style: none;
  display: flex;
}

li {
  margin-left: 5rem;
  cursor: pointer;
}

li:hover {
  border-bottom: 2px solid #333;
  font-weight: bold;
}

/* card foods styles */

.card-food {
  display: grid;
  grid-template-columns: 1fr 1.4fr 0.6fr;
  grid-template-rows: 2fr 0.4fr 0.2fr;
  gap: 0;
  grid-template-areas:
    'card-img card-img card-img'
    'card-title card-title card-title'
    'btn-recipe . btn-liked';
  border: #dbdbdb 1px solid;
}

.card-img {
  overflow: hidden;
  box-sizing: border-box;
  grid-area: card-img;
}

.img-food {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.card-title {
  grid-area: card-title;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.2rem;
}

.btn-recipe {
  grid-area: btn-recipe;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0.2rem;
}

.btn-recipe button {
  background: rgb(221, 21, 21);
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.1rem 0.4rem;
  cursor: pointer;
}

.btn-liked {
  grid-area: btn-liked;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.2rem;
}

.likes-count {
  margin: 1px;
}

.btn-liked button {
  background-image: url(./Images/heart.png);
  background-repeat: no-repeat;
  background-color: white;
  background-size: 50%;
  background-position: 50% 50%;
  color: rgb(221, 21, 21);
  font-weight: bold;
  padding: 15px;
  border: none;
}

.popup button {
  padding: 5px;
  background-color: rgb(166, 161, 163);
  border-top: 1px;
  border-left: 1px;
}

.btn-liked button:hover {
  background-size: 90%;
  cursor: pointer;
}

.popupCont {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  top: 0;
  position: fixed;
}

.popup {
  border-radius: 15% 0% 15% 0%;
  background-color: rgba(218, 87, 172, 0.85);
  width: 50vw;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px rgb(139, 131, 135);
}

.popup p {
  color: white;
}

.date {
  text-align: right;
}

.comment {
  border-bottom: 1px solid #333;
  width: 90%;
}

.popup h4 {
  color: rgb(99, 236, 190);
}

.popup img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15% 0% 15% 0%;
}

#cont {
  display: flex;
  gap: 30px;
  height: 40%;
}

#img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

#ins {
  width: 50%;
  height: 40%;
}

.content {
  height: 200px;
  overflow-y: auto;
}

form {
  text-align: center;
}

input {
  border: rgb(94, 109, 104) 2px solid;
  padding: 5px;
}

.commentSection {
  height: 40%;
  overflow-y: auto;
}

.popup button:hover {
  background-color: #333;
  color: #fafafa;
  cursor: pointer;
}

.popup ::-webkit-scrollbar {
  width: 10px;
}

.popup ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.popup ::-webkit-scrollbar-thumb {
  background: #888;
}

.Closebtn {
  position: absolute;
  right: -36px;
  top: -12px;
  width: 32px;
  height: 32px;
  opacity: 2;
}

.Closebtn:hover {
  opacity: 5;
}